/* Style overall body */

body {
    min-height: 100vh;
    background-color: #FFE2E1;
    font-family: 'Delius Swash Caps';
    /* color: #8785A2; */
    background: linear-gradient(-45deg, #FFE2E1, #FFC7C7, #FB9EC6);
    animation: gradient 1s ease infinite;
}

a,
a:link {
    text-decoration: none;
    color: black;
}

/* Style main section with flexbox */
.main-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.current-weather-images {
    display: flex;
    gap: 10px;
}

#current-weather-degrees {
    font-size: 50px;
    margin-left: 10px;
}

/* Style forecast section with flexbox */
.forecast {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}

#whole-forecast {
    background-color: #F6F6F6;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    padding-left: 100px;
    padding-right: 100px;
    border-radius: 25px;
}

.forecast>article {
    width: 300px;
    display: flex;
    justify-content: space-between;

}

/* Style footer and place it in bottom */
footer {
    min-height: 50px;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}


/* Style modal */
:modal {
    background-color: #F6F6F6;
    border: 2px solid #8785A2;

    border-radius: 25px;
}

/* About Footer */
#about-footer {
    position: absolute;
    bottom: 0;
}

/* Background animation */
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

/*  Media Query for iPhone compatibility */
@media only screen and (max-width: 850px) {

    #current-weather-text1 {
        margin-top: 50px;
    }

    .main-info>h2 {
        margin: 10px;
        font-size: 20px;
        text-align: center;
    }

    #whole-forecast {
        margin-top: 30px;
        width: 150px;
    }

    .current-weather-images {
        justify-content: center;
    }

    .forecast {
        margin-top: 40px;
    }

    footer {
        display: flex;
        justify-content: space-between;
    }
}